{{#each films}}
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h5>{{id}}</h5>
        </div>
        <div class="panel-body">
            <p>{{description}}</p>
        </div>
        <div class="panel-footer">
            <p>{{title}}</p>
        </div>
    </div>
    {{/each}}

<nav aria-label="Page pagination example">
    <ul class="pagination">
        {{#with paginate}}
                <li class="page-item prev">
                    <a class="page-link" href="{{prev_link this}}">Anterior</a>
                </li>
        {{/with}}

        {{#each links}}
            <li class="page-item" {{is_active @index ../currentPage }}>
                <a class="page-link" href="{{url}}">
                    {{number}}
                </a>
            </li>
        {{/each}}

        {{#with paginate}}
            {{#has_next_links ../pageCount this}}
            <li class="page-item next">
                <a class="page-link" href="{{next_link ../this }}">Siguiente</a>
            </li>
            {{/has_next_links}}
        {{/with}}
    </ul>
</nav>